.sl-login-top{
    height:80px;
}

.sl-login-top h1{
    font-size: 26px;
    color: #7CA5E0;
    margin-left: 50px;
    height:100%;
    line-height: 80px;
}

.sl-middle-box{
    position: relative;
    height:600px;
    background: url("../image/login_bg.png") no-repeat left top;
    background-size: contain;
}

.sl-login-box{
    position: relative;
    width:400px;
    height:400px;
    left:700px;
    top:40px;
    background-color: white;
    border-radius: 5px;
}

.box-top > div{
    width:50%;
    height:50px;
    text-align: center;
}

.box-top > div a{
    display: inline-block;
    height:100%;
    line-height: 50px;
    padding:0 30px;
    font-size: 18px;
}

.box-top > div a.active{
    border-bottom: 4px solid #5C71C2;
    color: #5C71C2;
}

.sl-login-box form div{
    height:40px;
    margin:20px 30px 0 30px;
    border-bottom: 1px solid #E6E5E6;
}


.username input{
    height:40px;
    width:120px;
    padding-left: 40px;
    font-size: 14px;
    border: none;
}

.sl-login-box form div:not(:first-child) input{
    height:40px;
    width:200px;
    padding-left:40px;
    font-size: 14px;
    border:none;
}



.sl-login-box form div.forget_pwd{
    height:auto;
    border:none;
    text-align: right;
    margin-top:5px;
}

.forget_pwd a{
    padding-right: 5px;
    color:#5C71C2;
    font-size: 12px;
    font-weight: 300;
}

.sl-login-box form div.btn{
    border:none;
    text-align: center;
}

.sl-login-box form div.btn a{
    display: inline-block;
    height:35px;
    width:200px;
    line-height: 35px;
    border-radius: 5px;
    color:white;
    font-size: 16px;
}

.sl-login-box form div:nth-last-of-type(2) a{
    background-color: #5C71C2;
}

.sl-login-box form div:nth-last-of-type(1) a{
    background-color: #73D5EB;
}

.form-box{
    position: absolute;
    left:0;
    top:55px;
    display: none;
}

.sl-login-box div.active{
    display: block;
}


/*forget password page*/
.sl-center-box{
    background-color: white;
    height:400px;
    width:800px;
    position: absolute;
    left:50%;
    top:50%;
    margin:-200px 0 0 -400px;
}


/*top上 3个step*/
.top{
    height:80px;
    border-bottom: 1px solid #E0DDE1 ;
}

.top .top-btn{
    line-height: 80px;
    width:50%;
    text-align: center;
}

.top .top-btn.active{
    border-bottom: 1px solid #437FBA;
}

.top-btn span:first-child{
    display: inline-block;
    height:50px;
    width:50px;
    vertical-align: middle;
    line-height: 50px;
    background: url('../image/lingxing-noselect.png') no-repeat center center;
}

.top-btn span:first-child.active{
    background: url('../image/lingxing.png') no-repeat center center;
}


.step2-bottom{
    text-align: center;
}

.step2-bottom form input{
    width:250px;
    height:30px;
}

.step2-bottom form div:first-child{
    margin-top: 80px;
}

.step2-bottom form div:not(:first-child){
    margin-top: 30px;
}

.step2-bottom form input{
    padding-left:30px;
}

.step2-bottom form div:nth-child(2){
    position: relative;
}

.step2-bottom .sendbtn{
    position: absolute;
    left:550px;
    top:1px;
    background-color: #437FBA;
    color: white;
    font-size: 12px;
    padding:10px;
    border-radius: 5px;
}

.step2-bottom form div:last-child{
    margin-top: 60px;
}

.step2-bottom form div:last-child>a{
    color:white;
    border-radius: 5px;
    display: inline-block;
    width:120px;
    height:35px;
    line-height: 35px;
}

.step2-bottom form div:last-child>a:first-child{
    background-color: #6ACEE4;
    margin-right: 50px;
}

.step2-bottom form div:last-child>a:last-child{
    background-color: #5C71C2;
}
