.sl-caozuorizhi, .sl-yonghuxinxi{
    margin:20px;
    margin-bottom: 0px;
}


.sl-yonghuxinxi{
    box-shadow: #A29F9F 0px 1px 3px;
    margin-bottom: 20px;
}

.sl-caozuorizhi > div{
    margin-top: 20px;
}

.sl-rizhi-box{
    height:200px;
    width:32%;
    background-color: white;
    box-shadow: #A29F9F 0px 1px 3px;
    margin-right:14px;
}

.sl-rizhi-box img{
    vertical-align: middle;
    margin-left: 10px;
}

.sl-rizhi-box > div:first-child span{
    margin-left: 10px;
    color: #437FBA;
    font-weight: 500;
    font-size: 16px;
}

.sl-rizhi-box > div:first-child a{
    margin-right: 10px;
}

.sl-rizhi-box > div:first-child{
    height:40px;
    line-height: 40px;
    background-color: #F1F6FD;
}


.sl-rizhi-box > div:last-child{
    height:calc(100% - 40px);
    overflow: auto;
}

.sl-rizhi-box > div:last-child table{
    text-align: center;
    width:100%;
    margin-top:10px;
}

.sl-rizhi-box > div:last-child table tr:first-child span{
    font-size: 16px;
    color:white;
}

.sl-rizhi-box > div:last-child table tr:last-child td{
    padding-top:10px;
    font-size: 12px;
}

.sl-rizhi-box > div:last-child p{
    height:30px;
    line-height: 30px;
    margin-left: 10px;
}

.sl-rizhi-box > div:last-child p span{
    font-weight: 300;
}

.sl-yonghuxinxi{
    background-color: white;
}

.sl-yonghuxinxi>div:first-child{
    height:40px;
    line-height: 40px;
    background-color: #F1F6FD;
}

.sl-yonghuxinxi>div:first-child img{
    vertical-align: middle;
    margin-left: 10px;
}

.sl-yonghuxinxi>div:first-child span{
    margin-left: 20px;
    color:#437FBA;
    font-size: 16px;
}

.sl-yonghuxinxi>div:nth-child(2){
    height:60px;
    line-height: 60px;
}

.sl-yonghuxinxi>div form input[type='text']{
    width:150px;
}

.sl-yonghuxinxi>div form input{
    height:26px;
}

.sl-yonghuxinxi>div form span{
    margin-left: 10px;
}

.sl-yonghuxinxi>div form a{
    border-radius: 5px;
    background-color: #437FBA;
    color:white;
    cursor: pointer;
    height:20px;
    line-height: 20px;
    font-size: 12px;
}

.sl-yonghuxinxi>div form a:not(:first-child){
    padding:5px 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.sl-yonghuxinxi>div form a:last-child{
    margin-right: 10px;
}

.sl-table{
    padding-bottom: 10px;
}

.sl-table table{
    width:calc(100% - 20px);
    text-align: center;
    margin:auto 10px;
}

.sl-table table th, .sl-table table td{
    vertical-align: middle;
    padding:10px;
    border:1px solid #D8D8D8;
}

.sl-table table tr:nth-of-type(even){
    background-color: #F0F0F0;
}

.sl-table table tr td a:first-child{
    margin-right: 10px;
}

.sl-table table tr td a:last-child{
    margin-left: 10px;
}
